Source: jenkins
Section: devel
Priority: extra
Maintainer: Kohsuke Kawaguchi <kohsuke.kawaguchi@cloudbees.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://nectar.cloudbees.com/

Package: jenkins
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, psmisc, java2-runtime
Conflicts: hudson
Replaces: hudson
Description: Nectar from CloudBees
 Nectar is a commercial value-added distribution of Jenkins Continuous Integration Server.
