Source: hudson
Section: devel
Priority: extra
Maintainer: Kohsuke Kawaguchi <kohsuke@infradna.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://infradna.com/

Package: hudson
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, java-virtual-machine, java2-runtime
Description: InfraDNA's Certified Hudson
 Hudson is an extensible continuous engine written in Java.
